/*global styles*/
*{
    font-family: "Poppins", serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

html{
    font-size: 16px;
}

/*GENERAL CONTAINER OF THE PAGE, it is unside body INDEX CSS*/

.container{
    position: relative;
    overflow:hidden;
}


/*HEADER INDEX CSS*/
h1{
    font-size: 1.6rem;
}

.logoA {
    margin-right: 10px;
}

.logoB{
    display: none;
}

header{
    display: flex;
    align-items:center;
}

/* HEADER: FIGURE AND NAV*/

.top{
    display: flex;
    width:100%;
    max-width: 700px;
    margin: 0 auto;
    justify-content: center;
}

/*hamburger buttom*/
.menu{
    position: absolute;
    right: 10px;
    top: 10px;
}

/* nav rules for small size view*/

 .nav{
    position: absolute;
    right: -500px;
    width: 100%;
    max-width:500px;
    height:100%;
    background: #2E86ABdd;
    display: flex;
    flex-direction: column;
    line-height: 40px;
    text-indent: 20px;
    font-weight: 500;

    transition: transform .3s ease-in;
    will-change: transform;
} 

/* showing the nav with a class */

 .nav--show{
    position: absolute;
    right: -500px;
    transform: translatex(-500px);
} 

.nav a{
    text-decoration: none;
    color: white;
}





.search{
    display: flex;
    width:100%;
    max-width: 500px;
    margin: 0 auto;

}

/* seraching button */
.search input{
    width: 100%;
}

.search>a{
    width: 90px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #2E86AB ;
    color: white;
    text-decoration: none;
}

/* CONTENT AREA IN INDEX.HTML (FILTERS, ITEMS(articles)) */
.content{
    display:flex;
    justify-content: center;
    width: 100%;
    max-width: 1300px;
    margin: 30px auto 0 auto;
}

.items{
    display:grid;
    grid-template-columns: 300px;
    justify-content: center;
}

.article figure{
    margin: 0 auto;
}

.article .title{
    font-size: 1.5rem;
    text-align: center;
}

.article .description{
    text-align: justify;
    padding: 0 10px;
}

/* filters side css */
.filters{
display: none;
flex-direction: column;
border-radius: 10px;
width: 300px;
padding: 0 20px;
}

/* css rules in details.html  */
.details{
    width: 100%;
    max-width:1000px;
    margin: 20px auto 0 auto;
    display: grid;
    justify-content: center;
    grid-template-columns: 300px;
    grid-template-rows: 250px auto 50px;

    grid-template-areas: "image"
    "details"
    "button";
    gap: 10px;
}

.thumbnails1Site, .thumbnails2Site, .thumbnails3Site, .thumbnails4Site{
    display:none;
}

.previewSite{
  grid-area: image;
}

.previewSite img{
    width: 100%;  
}

.detailSite{
    grid-area:details;
    text-align: justify;
}

.saveSite{
    grid-area: button;
    background: #F24236 ;
    color: white;
    text-align: center;
    line-height: 50px;
}

/* FOOTER */
.footer{
    text-align: center;
}




/*media query rules for medium size (min-width: 650px)*/
@media screen and (min-width:650px){
/*HEADER*/
h1{
    width: 100%;
    text-align: center;
    font-size: 4rem;
}

.logoA{
    display: none;
}

.logoB{
    display: block !important;
}

.menu{
    display: none !important;
}

.nav{
    position: relative;
    left:0;
    transform: translatex(0);
    width: 500px;
    height: auto;
    background: none;
    display: flex;
    flex-direction: row;
    text-indent: 0;

    transition: none;
    will-change: none; 
    justify-content:space-around;
    align-items:center;
}
.nav a{
    text-decoration: none;
    color:#2E86AB; 
}

.items{
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(2, auto);
}

}




@media screen and (min-width:1000px){

    /* css rules for details.html (details area) page */
    .details{
        width: 100%;
        max-width: 1000px;
        margin: 20px auto 0 auto;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(4, 150px) 300px;
        grid-template-rows: 400px 100px 50px;

        grid-template-areas: "image image image image details"
        "img1 img2 img3 img4 details"
        "button button button button details";
        gap:10px;
    }
/* img thumbnails */
    .thumbnails{
        width:90%;
        display: block;
        margin: auto;
        opacity: .8;
    }

    .thumbnails1Site, .thumbnails2Site, .thumbnails3Site, .thumbnails4Site{
        display:block;
    }

    .thumbnails1Site{
        grid-area: img1;
    }

    .thumbnails2Site{
        grid-area: img2;
    }

    .thumbnails3Site{
        grid-area: img3;
    }

    .thumbnails4Site{
        grid-area: img4;
    }

}


@media screen and (min-width:1200px){
    .items{
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, auto);
    }
}